<div class="mblBackground">
	<div data-dojo-type="dojox/mobile/Heading"
		 data-dojo-props="fixed: 'top'">
		<button data-dojo-type="dojox/mobile/ToolBarButton"
				data-dojo-attach-point="backButton"
				data-dojo-props="arrow: 'left2', target: 'menu'"
				style="position: absolute; left: 0"
				class="backButton">${nls.back}</button>
		${nls.title}
	</div>
	<table id="vacationToAgreement-messages">
		<tr>
			<td>
				<div class="place-messages"><!-- test --></div>
				<div class="place-errors"><!-- test --></div>
			</td>
		</tr>
	</table>
	<div data-dojo-type="aplanaHh/mobile/VacationStoreList"
			data-dojo-attach-point="list"
			data-dojo-props="store: this.loadedStores.vacationToAgreement,
				labelProperty: 'id',
				stateful: false">
	</div>
</div>